* {
    text-decoration: none;
    font-family: cursive;
}

body {
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Center the login form */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed */
}

.form {
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/* Style the labels and inputs */
label {
    font-size: 18px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style the "Register" link */
#noAccount {
    text-align: center;
    margin-top: 10px;
}

#noAccount a {
    text-decoration: none;
    color: #007BFF; /* Change the color as desired */
}

#noAccount a:hover {
    text-decoration: underline;
}

/* Style the username and password input fields */
#username1, #password1 {
    background-color: #f2f2f2; /* Light gray background */
    /* margin: 0px; */
}

